@charset "UTF-8";
div {
	margin: 10px;
}

input{
	margin: 5px 0;
}

table {
	margin: 10px;
	position: static;
	border: 1px solid black;
	text-align: center;	
}

th, td {
	width: 100px;
	border: 1px solid black;
	text-align: center;	
	padding:5px
}

tr:nth-child(even){
	background-color: antiquewhite;
}

tr:hover{
	background-color: navajowhite;
}

table.vertical{
	align-items: center;
	vertical-align: middle;
	writing-mode: vertical-lr;
	-ms-writing-mode:lr-bt;
}

table.vertical div{
	width: 60px;
	writing-mode: horizontal-tb;
	-ms-writing-mode:lr-bt;
	margin: auto;
}

a {
	padding: 5px;
	color: grey;
}

a:hover{
	color: lightseagreen;	
	background-color: antiquewhite;
}

.menu{
	color:black;
	border: 1px solid black;
	text-align: center;
	background-color: azure;
	text-decoration: none;
	margin: 5px;
}


